<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<!-- Auth0 Lock Widget -->
	<script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
  	<!-- MapBox -->
  	<script src="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css" rel="stylesheet" />
	<title>Swaps</title>
</head>

<body>

	{{{ body }}}

<!-- JS File -->
<script type="text/javascript" src="/assets/js/login.js"></script>

 HEAD
{{!-- The following lines were added by Amer on June 11, 2017 at 11:06 pm  --}}
<script type="text/javascript" src="/assets/js/map.js"></script>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

{{!-- The following lines were added by Amer on June 11, 2017 at 11:02 pm  --}}
<script 
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1JR816eGLcxSAZCfY9PaSI9G5fT0Lgpg">
</script>


</body>

</html>