<div class="text-center" id="errorNotifications">
	<h1 class="errorMessage"> Oops. There seems to be an error </h1>
	<h3 class="errorMessage"> Please log in again. </h3>
	<h3> <a id="errorLink" href="/"> Home Page </a> </h3>
</div>