	{{!-- ---GOES TO THIS FORM WHEN CLICK CONTACT BUTTON ON A POST--- --}}

	<div id="contact" class="middle">
			<div id="contactSpace"></div>
			{{!-- ---this is the email of the person who owns the post-- --}}
			<form action="{{this.user_email}}" method="post" enctype="text/plain">
			<h2>Contact</h2>
			<div class="maincontent" id="formcontent">
				<label> 
					Name
				</label> 
				<input required autofocus type="text" name="name" placeholder="John Smith">
				<label>
					Email   
				</label>
				<input required type="email" name="email" placeholder="example@gmail.com">
				<label>
					Message
				</label>
				<textarea required name="Message"></textarea>
				<input id="button" type="submit" name="submit" value="Submit">
			</div>
		</form>	

	</div>