<p>Welcome</p>

<br/>

<a href="/login"> <button> Login </button> </a> 

<form action="/posts" method="GET">
	<button id="post" type="submit"> Post An Item </button>
</form>
<form action="/userPosts" method="GET">
	<button id="myPosts" type="submit"> My Posts </button>
</form>
<form action="/search" method="GET">
	<button id="searchPosts" type="submit"> Search Posts </button>
</form>


