
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/search">Search Posts</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>

<p>Welcome</p>

<br/>

<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by The SWAPS Team
        </div>
    </div>
</footer>




