
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">SWAPS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/posts">Post an Item</a></li>
            <li><a href="/search">Search Posts</a></li>
            <li><a href="#">Manage Offers</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<p>Welcome</p>

<br/>

<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by The SWAPS Team
        </div>
    </div>
</footer>




