<header>

<nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left" >SWAPS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>

<!-- <img id="landingImage" src="/assets/images/atlanta.jpg"> -->
<div id="mainImage">
</div>
</header>

<main>

<nav class="orange" role="navigation">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/search">Search Posts</a></li>
        </ul>
    </div>
</nav>

<br><br>

<div id="landingCards">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6">
        <div class="card-panel light-blue roundCard">
          <span class="white-text">
          Stop Paying. Start Swapping! It’s Easy!
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel light-blue roundCard">
          <span class="white-text">
          Make an Offer, Select an Offer, and SWAP.
          </span>
        </div>
      </div>
    </div>


<div class="col s12 m8 offset-m2 l6 offset-l3">
        {{!-- <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div> --}}
      </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l6">
        <div class="card-panel light-blue roundCard">
          <span class="white-text">
          Why are you still reading? Get swapping!
          </span>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <div class="col s12 m12 offset-m2 l6 offset-l3">
        <div class="card-panel light-blue">
          <span class="white-text">
          Make an Offer, Select an Offer, and SWAP.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l6">
        <div class="card-panel light-blue">
          <span class="white-text">
          Now Get Swapping!
          </span>
        </div>
      </div>
    </div> -->
</div>







</main>

</main>
<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <a class="grey-text text-lighten-4"> &#169; 2017 The SWAPS Team</a>
        </div>
    </div>
</footer>








