<p>Welcome</p>

<br/>

<form id="userForm">
	<input required type="textbox" id="userName" placeholder="Ex. Thomas Mahon">
	<input type="textbox" id="userPhone" placeholder="Ex. 919-354-6060">
	<br/>
	<button id="submitLogin" type="submit"> Login </button>
</form>

<div id="confirmation">
	name: <span id="confName"></span>
	phone: <span id="confPhone"></span>
	<br/>
	<a href="/login"> <button> Confirm </button> </a> 
	<button id="reenter" type="submit"> Reenter </button>
</div>

<form action="/posts" method="GET">
	<button id="post" type="submit"> Post An Item </button>
</form>
<form action="/userPosts" method="GET">
	<button id="myPosts" type="submit"> My Posts </button>
</form>
<form action="/search" method="GET">
	<button id="searchPosts" type="submit"> Search Posts </button>
</form>

