{{!-- 
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/search">Search Posts</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>

<p>Welcome</p>


 --}}

 <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left" >SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            
            <li><a href="/login">Log In</a></li>
        </ul>
        </ul>
    </div>
</nav>

<div id="image">
</div>

<nav class="orange" role="navigation">
    {{!-- <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a> --}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/search">Search Posts</a></li>
        </ul>
    </div>
</nav>

<br/>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <a class="grey-text text-lighten-4"> &#169; 2017 The SWAPS Team</a>
        </div>
    </div>
</footer>







