{{!--THIS IS A TEMP FILE FOR TESTING --}}

<form id="userForm">
	<input required type="textbox" id="userName" placeholder="Ex. Thomas Mahon">
	<button id="getuserdata" type="submit"> Login </button>
</form>