
{{!-- THE BELOW SECTION IS FOR CREATING A POST TO BE SENT TO THE DATABASE --}}

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/posts"> Post an Item </a></li>
            <li><a href="/userPosts"> My Posts </a></li>
            <li><a href="/search"> Search Posts </a></li>
            <li><a href="/received"> Offers Received </a></li>
            <li><a href="/made"> Offers Made </a></li>
            <li><a href="/scheduled"> Scheduled Swaps </a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>

<div class="col-sm-4">
	<div id="createPost">
		<div class="">
			<div class="row" id="">
				<div class="col-sm-12" id="">
					<div class="row">
						<form class="" id="" action="/api/postItem" method="POST" enctype="multipart/form-data"> 
							<div class="form-group">
								<div class="col-sm-12">
									<input name="nameInput">Your Name</input>
									<input name="categoryInput">Category</input>
									<input name="descriptionInput">Description</input>
									<input name="conditionInput"> Condition</input>
									<input name="availabilityInput"> Availability </input>
									<input name="swap_locationInput">Location </input>
									<input name="commentsInput">Comments </input>
									<br/>
									<img style="border:1px solid gray;width:300px;" id="preview" src="http://via.placeholder.com/400x300">
									<label class="btn btn-primary" for="my-file-selector">
        							<input name="upl" id="my-file-selector" type="file" style="display:none;">Select File</label>
									<br/><br/><br/>
									<button type="submit" id="postForm" class="btn">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Post Item Modal -->
    <div id="postItem" class="modal">
      <div class="modal-content">
        <button id="clearModal" input="reset" class="modal-close btn-flat" type="reset" style="position:absolute;top:0;right:0;">X</button>
        <h4>Post An Item</h4>
          <form>
          <div class="row">
            <div class="input-field col s12">
                <input id="product_name" type="text" name="nameInput" class="validate">
                <label class="active" for="product_name">Your Name</label>
            </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="categoryInput" class="validate">
                <label class="active" for="product_description">Category</label>
            </div>
           </div>
		   <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="descriptionInput" class="validate">
                <label class="active" for="product_description">Description</label>
            </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="conditionInput" class="validate">
                <label class="active" for="product_description">Condition</label>
            </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="availabilityInput" class="validate">
                <label class="active" for="product_description">Availability</label>
            </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="swap_locationInput" class="validate">
                <label class="active" for="product_description">Swap Location</label>
            </div>
           </div>
           <div class="row">
            <div class="input-field col s12">
                <input id="product_description" type="text" name="commentsInput" class="validate">
                <label class="active" for="product_description">Comments</label>
            </div>
           </div>
		   

//////////

<br/>
									<img style="border:1px solid gray;width:300px;" id="preview" src="http://via.placeholder.com/400x300">
									<label class="btn btn-primary" for="my-file-selector">
        							<input name="upl" id="my-file-selector" type="file" style="display:none;">Select File</label>
									<br/><br/><br/>

/////////


           <div class="row">
              <div class="input-field col s12">
                <input id="imageURL" type="url" class="validate">
                <label class="active" for="imageURL">Input Image URL</label>
              </div>
            </div>
            <form id="catergory-product" action="#">
              <h5>Pick one category for your product</h5>
              <p>
                <input class="with-gap" name="category" type="radio" id="beauty" value="Beauty/Health"/>
                <label for="beauty">Beauty/Health</label>

                <input class="with-gap" name="category" type="radio" id="electronic" value="Electronics"/>
                <label for="electronic">Electronics</label>

                <input class="with-gap" name="category" type="radio" id="apparel" value="Apparel"/>
                <label for="apparel">Apparel</label>

                <input class="with-gap" name="category" type="radio" id="media" value="Media"/>
                <label for="media">Media</label>

                <input class="with-gap" name="category" type="radio" id="house" value="Household Goods"/>
                <label for="house">Household Goods</label>

                <input class="with-gap" name="category" type="radio" id="other" value="Other"/>
                <label for="other">Other</label>
              </p>
            </form>
            <br>

            <form id="radioForm" action="#">
            <h5>What condition is your product in?</h5>
              <p>
                <input class="with-gap" name="condition" type="radio" id="1" value="1"/>
                <label for="1">Heavily used</label>

                <input class="with-gap" name="condition" type="radio" id="2" value="2"/>
                <label for="2">More than average use</label>

                <input class="with-gap" name="condition" type="radio" id="3" value="3"/>
                <label for="3">Used from time to time</label>

                <input class="with-gap" name="condition" type="radio" id="4" value="4"/>
                <label for="4">Hardly used</label>

                <input class="with-gap" name="condition" type="radio" id="5" value="5"/>
                <label for="5">Basically new</label> 
              </p>
            </form>
            <br>

          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light left" type="submit" name="action" id="postProduct" onclick ="window.location.href ='/manageView'">Post Your Product
            </button>
          </div>
      </div>
    </div>









<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by The SWAPS Team
        </div>
    </div>
</footer>






