
{{!-- THE BELOW SECTION IS FOR CREATING A POST TO BE SENT TO THE DATABASE --}}

<div class="col-sm-4">
				<div id="createPost">
							<div class="">
								<div class="row" id="">
									<div class="col-sm-12" id="">
										<div class="row">
											<form class="" id="" action="/api/postItem" method="POST">
												<div class="form-group">
													<div class="col-sm-12">
														<input name="userIDInput">User ID</input>
														<input name="categoryInput">Category</input>
													    <input name="descriptionInput">Description</input>
													    <input name="conditionInput"> Condition</input>
													    <input name="availabilityInput"> Availability </input>
													    <input name="swap_locationInput">Location </input>
													    <input name="commentsInput">Comments </input>
													    <input name="userUserID">User User ID </input>
													    <br/><br/><br/>
													    <button type="submit" id="postForm" class="btn">Submit</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
				</div>
			</div>








