<header>

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left" >SWAPS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>

    <div id="mainImage">
    </div>

    <nav class="orange" role="navigation">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/posts"> Post an Item </a></li>
                <li><a href="/userPosts"> My Posts </a></li>
                <li><a href="/search"> Search Posts </a></li>
                <li><a href="/received"> Offers Received </a></li>
                <li><a href="/made"> Offers Made </a></li>
                <li><a href="/lending"> Items Lending </a></li>
                <li><a href="/borrowing"> Items Borrowing </a></li>
            </ul>
        </div>
    </nav>

</header>

<main>

<container id="formContainer">
    <div class="row">
        {{!-- -------------- --}}
        {{!--<form class="" id="portForm" action="/api/postItem" method="POST" enctype="multipart/form-data">--}}
    <form class="" id="postForm" enctype="multipart/form-data">
    <div class="col s6 offset-s3">
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" required="" aria-required="true" id="nameInput">
                        <label for="nameInput">Name</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12" required="" aria-required="true" id="categoryInput">
                        <select >
                            <option value="" disabled selected>Category</option>
                            <option value="appliances">Appliances</option>
                            <option value="arts">Arts and Crafts</option>
                            <option value="parts">Auto Parts</option>
                            <option value="kid">Baby and Kid</option>
                            <option value="health">Beauty and Health</option>
                            <option value="books">Books</option>
                            <option value="clothes">Clothes and Accessories</option>
                            <option value="electronics">Electronics</option>
                            <option value="farm">Farm and Garden</option>
                            <option value="furniture">Furniture</option>
                            <option value="general">General</option>
                            <option value="equipment">Heavy Equipment</option>
                            <option value="household">Household</option>
                            <option value="jewelery">Jewelery</option>
                            <option value="instruments">Musical Instruments</option>
                            <option value="photo">Photo and Video</option>
                            <option value="sporting">Sporting</option>
                            <option value="tools">Tools</option>
                            <option value="toys">Toys and Games</option>
                            <option value="vehicles">Vehicles and Boats</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12" required="" aria-required="true" id="conditionInput">
                        <select>
                            <option value="" disabled selected>Condition</option>
                            <option value="New">New</option>
                            <option value="Like New">Like New</option>
                            <option value="Good">Good</option>
                            <option value="Acceptable">Acceptable</option>
                            <option value="Broken">Broken</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" required="" aria-required="true" id="descriptionInput"></textarea>
                        <label for="descriptionInput">Description</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-field col s12" required="" aria-required="true" id="availabilityInput">
                    <select multiple>
                        <option value="" disabled selected>Availability</option>
                        <option value="M">Monday</option>
                        <option value="T">Tuesday</option>
                        <option value="W">Wednesday</option>
                        <option value="Th">Thursday</option>
                        <option value="F">Friday</option>
                        <option value="Sa">Saturday</option>
                        <option value="Su">Sunday</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" required="" aria-required="true" id="swap_locationInput">
                        <label for="nameInput">Location</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" required="" aria-required="true" id="commentsInput"></textarea>
                        <label for="descriptionInput">Comments</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <img style="border:1px solid gray;width:300px;" id="preview" src="http://via.placeholder.com/400x300">
                     <br/>
                    <label class="btn btn-primary" for="my-file-selector">
                    <input name="upl" id="my-file-selector" type="file" style="display:none;">Select Image File</label>
                </div>
            </div>
            <div class="divider"></div>
            <button type="submit" id="postForm2" class="btn">Post Item to SWAPS</button>
        </div>
        </form>
    </div>
</container>

</main>

<footer class="page-footer orange z-depth-2">
    <div class="container">
        <div class="row">
            <a class="grey-text text-lighten-4"> &#169; 2017 The SWAPS Team</a>
        </div>
    </div>
</footer>

<script type="text/javascript">
var currentURL = window.location.origin;
     $("#postForm2").on("click", function(){
            console.log("I'm in JS postForm");

            var surveyInfo = {
                name: $("#nameInput").val().trim(),
                category: $(".select-dropdown[value='Category']").val(),
                condition: $(".select-dropdown[value='Condition']").val(),
                description: $("#descriptionInput").val().trim(),
                availability: $(".select-dropdown[value='Availability']").val(),
                location: $("#swap_locationInput").val().trim(),
                comments: $("#commentsInput").val().trim(),
                img_location: $("#my-file-selector").attr("value")
            }
//            for (i = 1; i <= $("#availabilityInput :selected").length; i++){
//                Avail += $("#availabilityInput :selected")[i].text + "|"
//                };
//            var surveyInfo = {
//                name: $("#idInput").val().trim(),
//                category: $("#categoryInput :selected").val().trim(),
//                condition: $("#conditionInput :selected").val().trim(),
///                description: $("#descriptionInput").val().trim(),
//                availability: Avail
//                location: $("#swap_locationInput").val().trim(),
//                comments: $("#commentsInput").val().trim()
//            }
            console.log(surveyInfo);
            //sends post request with survey data
            $.post(currentURL + "/api/postItem", surveyInfo); //, function(data){
            location.reload();

        return false;

});

    $(document).ready(function() {
        $('select').material_select();
    });

    function refreshPage() {
        location.reload();
    };

    $(document).on("click", ".modal-close", refreshPage);

</script>
