
<form action="api/posts/appliances" method="GET">
	<button id="appliances" type="submit"> Appliances </button>
</form>
<br/>
<form action="api/posts/arts" method="GET">
	<button id="arts" type="submit"> Arts and Crafts </button>
</form>
<br/>
<form action="api/posts/parts" method="GET">
	<button id="parts" type="submit"> Auto Parts </button>
</form>
<br/>
<form action="api/posts/kid" method="GET">
	<button id="kid" type="submit"> Baby and Kid </button>
</form>
<br/>
<form action="api/posts/health" method="GET">
	<button id="health" type="submit"> Beauty and Health </button>
</form>
<br/>
<form action="api/posts/books" method="GET">
	<button id="books" type="submit"> Books </button>
</form>
<br/>
<form action="api/posts/clothes" method="GET">
	<button id="clothes" type="submit"> Clothes and Accessories </button>
</form>
<br/>
<form action="api/posts/electronics" method="GET">
	<button id="electronics" type="submit"> Electronics </button>
</form>
<br/>
<form action="api/posts/farm" method="GET">
	<button id="farm" type="submit"> Farm and Garden </button>
</form>
<br/>
<form action="api/posts/furniture" method="GET">
	<button id="furniture" type="submit"> Furniture </button>
</form>
<br/>
<form action="api/posts/general" method="GET">
	<button id="general" type="submit"> General </button>
</form>
<br/>
<form action="api/posts/equipment" method="GET">
	<button id="equipment" type="submit"> Heavy Equipment </button>
</form>
<br/>
<form action="api/posts/household" method="GET">
	<button id="household" type="submit"> Household </button>
</form>
<br/>
<form action="api/posts/jewelry" method="GET">
	<button id="jewelry" type="submit"> Jewelry </button>
</form>
<br/>
<form action="api/posts/instruments" method="GET">
	<button id="instruments" type="submit"> Musical Instruments </button>
</form>
<br/>
<form action="api/posts/photo" method="GET">
	<button id="photo" type="submit"> Photo and Video </button>
</form>
<br/>
<form action="api/posts/sporting" method="GET">
	<button id="sporting" type="submit"> Sporting </button>
</form>
<br/>
<form action="api/posts/tools" method="GET">
	<button id="tools" type="submit"> Tools </button>
</form>
<br/>
<form action="api/posts/toys" method="GET">
	<button id="toys" type="submit"> Toys and Games </button>
</form>
<br/>
<form action="api/posts/vehicles" method="GET">
	<button id="vehicles" type="submit"> Vehicles and Boats </button>
</form>


