<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">SWAPS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/posts"> Post an Item </a></li>
            <li><a href="/userPosts"> My Posts </a></li>
            <li><a href="/search"> Search Posts </a></li>
            <li><a href="/received"> Offers Received </a></li>
            <li><a href="/made"> Offers Made </a></li>
            <li><a href="/scheduled"> Scheduled Swaps </a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</nav>

<a href="api/posts/appliances"><button id="appliances" type="submit"> Appliances </button></a>
	<br/>
<a href="api/posts/arts"><button id="arts" type="submit"> Arts and Crafts </button></a>
	<br/>
<a href="api/posts/parts"><button id="parts" type="submit"> Auto Parts </button></a>
	<br/>
<a href="api/posts/kid"><button id="kid" type="submit"> Baby and Kid </button></a>
	<br/>
<a href="api/posts/health"><button id="health" type="submit"> Beauty and Health </button></a>
	<br/>
<a href="api/posts/books"><button id="books" type="submit"> Books </button></a>
	<br/>
<a href="api/posts/clothes"><button id="clothes" type="submit"> Clothes and Accessories </button></a>
	<br/>
<a href="api/posts/electronics"><button id="electronics" type="submit"> Electronics </button></a>
	<br/>
<a href="api/posts/farm"><button id="farm" type="submit"> Farm and Garden </button></a>
	<br/>
<a href="api/posts/furniture"><button id="furniture" type="submit"> Furniture </button></a>
	<br/>
<a href="api/posts/general"><button id="general" type="submit"> General </button></a>
	<br/>
<a href="api/posts/equipment"><button id="equipment" type="submit"> Heavy Equipment </button></a>
	<br/>
<a href="api/posts/household"><button id="household" type="submit"> Household </button></a>
	<br/>
<a href="api/posts/jewelry"><button id="jewelry" type="submit"> Jewelry </button></a>
	<br/>
<a href="api/posts/instruments"><button id="instruments" type="submit"> Musical Instruments </button></a>
	<br/>
<a href="api/posts/photo"><button id="photo" type="submit"> Photo and Video </button></a>
	<br/>
<a href="api/posts/sporting"><button id="sporting" type="submit"> Sporting </button></a>
	<br/>
<a href="api/posts/tools"><button id="tools" type="submit"> Tools </button></a>
	<br/>
<a href="api/posts/toys"><button id="toys" type="submit"> Toys and Games </button></a>
	<br/>
<a href="api/posts/vehicles"><button id="vehicles" type="submit"> Vehicles and Boats </button></a>

<footer class="page-footer orange z-depth-2">
    <div class="container">
        <div class="row">
            <a class="grey-text text-lighten-4"> &#169; 2017 The SWAPS Team</a>
        </div>
    </div>
</footer>


