


<form action="/household" method="GET">
	<button id="household" type="submit"> Household </button>
</form>
<form action="/furniture" method="GET">
	<button id="furniture" type="submit"> Furniture </button>
</form>
<form action="/tools" method="GET">
	<button id="tools" type="submit"> Tools </button>
</form>
<form action="/toys" method="GET">
	<button id="toys" type="submit"> Toys </button>
</form>
<form action="/electronics" method="GET">
	<button id="electronics" type="submit"> Electronics </button>
</form>
