{{!-- TO CAPTURE USERINFO FROM AUTH0 USE: user.picture, user.nickname, user._json.email, user._json.clientID --}}

{{!-- WE CAN ALSO USE USERNAME FROM DATABASE INSTEAD OF USER NICKNAME FROM AUTH0 --}}

<img src={{user.picture}}>
  
<h2> Welcome {{user.nickname}} ! </h2>

<br/>
<a href="/logout"> <button> Logout </button> </a>
