<img src={{user.picture}}>
  
<h2> Welcome {{user.nickname}} ! </h2>
<br/>
<p2> User Email: {{user._json.email}}  </p2>
<br/>
<p2> User ClientID: {{user._json.clientID}} </p>

<br/>
<a href="/logout"> <button> Logout </button> </a>
