
body {
 	 padding-left: 50px;
 	 padding-right: 50px;
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     margin-bottom: 70px;
}

h4 {
  text-align: center;
  weight: bold;
  color: blue;
}

main {
     flex: 1 0 auto;
}

#root {
	width: 310px; 
	margin: 40px auto; 
	padding: 10px;
}

#cardDiv {
  height: 275px;
  overflow: scroll;
}

#postForm, .btn-primary {
	background-color: #29b6f6;
}

#mainImage {
	height: 300px;
	background-image: url(/assets/images/hose.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#userImage {
		width: 310px; 
}

.mapClass {
	height: 250px;
	width: 250px;
}

.icon-block {
 	padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.call_modal {
	padding: 20px;
	margin: 6px;
	border-radius: 	5px;
	background: #3399cc;
	color: 	#ccc;
	font-size: 	26px;
	border: none;
	cursor: pointer;
}

.modal {
	display:none;
	width: 	100%;
	height: 100%;
	position: fixed;	
	top: 0;
}

.modal_bg {
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 	100%;
	position: fixed;	
	top: 0;
}

.modal_main {
	position: fixed;
	width: 50%;
	height: 400px;
	background: #fff;
	border-radius: 	6px;
	top: 9%;
	left: 24%;
	display: none;

}

.closer {
	position: absolute;
	top: 58px;
	right: 27%;
	cursor: pointer;
	z-index: 8;
	font: italic bold 12px/30px Georgia, serif;
}


footer {
  text-align: center;
  /*position: absolute;
  width: 100%;
  bottom: 0;
  height: 70px;*/
}

