body {
  padding: 50px;

}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

#root {
	width: 310px; 
	margin: 40px auto; 
	padding: 10px;
}

#postForm, .btn-primary {
	background-color: #29b6f6;
}

#userImage {
		width: 310px; 
}

/* The following lines were added by Amer on June 11, 2017 at 11:02 pm */
.mapClass {
	height: 250px;
	width: 250px;
}
.icon-block {
 	padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;

}

/*--------temp contact form css start----------*/
.middle {
	overflow: auto;
	width: 100%;
	max-width: 960px;/*why media queries don't work unless this is set to max but others not max*/
	margin-left: auto;
	margin-right: auto;
}

form {
	float: left;
	width: 650px;
	background-color: #ffffff;
	margin: 0 20px 40px 20px;
	border: solid 1px #dddddd;
	overflow: auto;
	padding: 10px 30px 30px 30px;
}

/*to remove the default inline-block display*/
label, input, textarea {
	display: block;
	width: 100%;
}

input {
	padding: 6px 0 6px 10px;
	line-height: 1.5;
	margin-top: 8px;
}

textarea {
	height: 200px;
	margin-top: 8px;
}

label, textarea {
	padding-top: 18px;
}

footer {
  text-align: center;

}

/*--------temp contact form css end ----------*/