body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

/*a {
  color: #00B7FF;
}*/

#root {
	width: 280px; 
	margin: 40px auto; 
	padding: 10px;
}

.icon-block {
 	padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}